body{
    font-family: "Montserrat", sans-serif;
    background-image: url(../img/supermercado.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.conteiner{
    background-color: rgba(224, 100, 46, 0.95);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.8);
    margin: 40px;
    padding: 20px;
    color: #ffffff;
    width: 800px;
    position: relative;

    .produtos{
        display: flex;
        flex-direction: column;
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 2px 2px 2px #242424;
    }
    
    h1{
        font-size: 40px;
        font-weight: bold;
        margin: 10px;
        text-shadow: 2px 2px 2px #242424;
    }

    p{
        font-size: 22px;
        margin: 16px;
    }

    .line{
        padding: 10px;
    }

    label{
        font-size: 20px;
        font-weight: 400;
        margin: 4px;
    }

    input{
        border-style: none;
        width: 260px;
        height: 30px;
        outline: none;
        border-radius: 6px;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
    }

    select{
        border-style: none;
        padding: 2px;
        font-size: 16px;
        outline: none;
        border-radius: 6px;
        height: 30px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }

    option{
        border-radius: 0px;
    }
     
    .botoes{
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    

    button{ 
        background-color: #000000;
        outline: none;
        border: none;
        color: #ffffff;
        font-size: 20px;
        border-radius: 6px;
        height: 30px;
        width: 200px;
        font-weight: 600;
    }

    .lista{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        color: #242424;
        border-radius: 20px;

        h2{
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        li{
            font-size: 40;
            font-weight: 700;
            margin: 0px 20px;
            list-style: none;
        }
    }

    .frutas{
        display: none;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }

    .laticinios{
        display: none;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }

    .congelados{
        display: none;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }

    .doces{
        display: none;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }
}
footer{
    background-color: rgba(224, 100, 46, 0.95);;
    position: relative;
    bottom: 0%;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px 0px;
    color: #ffffff;

    div{

        img {
            max-width: 100%;
            width: 40px;
            margin: 0px 20px;
        }
    }

    p{
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
    }

    strong{
        font-weight: 600;
        font-size: 16px;
    }
}