body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/tumblr_ca6392f4985bcf85661b18532ab86b9e_f1d61dbc_2048.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.conteiner {
  background-color: rgba(10, 10, 10, 0.85);
  border: 4px solid #DFDFE9;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 700px;
  height: 400px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #DFDFE9;
  margin: 10px 0px;
}

header img {
  max-width: 100%;
  width: 150px;
  margin: 0px 10px 30px;
}

main {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main input {
  text-align: center;
  width: 400px;
  border: none;
  border-radius: 6px;
  height: 30px;
  font-size: 16px;
  margin: 10px 0px;
  background-color: #DFDFE9;
  font-weight: 600;
}

main input:focus {
  border: none;
  outline: none;
}

main input::-webkit-input-placeholder {
  color: #1e1e1e;
  font-weight: 600;
}

main input:-ms-input-placeholder {
  color: #1e1e1e;
  font-weight: 600;
}

main input::-ms-input-placeholder {
  color: #1e1e1e;
  font-weight: 600;
}

main input::placeholder {
  color: #1e1e1e;
  font-weight: 600;
}

main input:focus::-webkit-input-placeholder {
  color: transparent;
}

main input:focus:-ms-input-placeholder {
  color: transparent;
}

main input:focus::-ms-input-placeholder {
  color: transparent;
}

main input:focus::placeholder {
  color: transparent;
}

main input[type="number"]::-webkit-inner-spin-button,
main input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .resposta {
  display: none;
  color: #DFDFE9;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

main div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .botao button {
  max-width: 100px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #DFDFE9;
  text-transform: uppercase;
  margin: 20px;
  color: #1e1e1e;
  font-weight: 600;
  cursor: pointer;
}

main .botao button:hover {
  background-color: #cbcbd5;
}

main .botao .botao2 {
  display: none;
}

main .q4 {
  display: none;
  width: 500px;
}

main .p2 {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .resposta2 {
  display: none;
  color: #DFDFE9;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

footer {
  background-color: rgba(10, 10, 10, 0.85);
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DFDFE9;
}

footer div img {
  max-width: 100%;
  width: 40px;
  margin: 0px 20px;
}

footer p {
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
}

footer strong {
  font-weight: bold;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */