body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/tumblr_ca6392f4985bcf85661b18532ab86b9e_f1d61dbc_2048.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.conteiner{
    background-color: rgba(10, 10, 10, 0.85);
    border: 4px solid #DFDFE9;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 700px;
    height: 400px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid #DFDFE9;
    margin: 10px 0px;

    img {
        max-width: 100%;
        width: 150px;
        margin: 0px 10px 30px;
    }
}

main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input{
        text-align: center;
        width: 400px;
        border: none;
        border-radius: 6px;
        height: 30px;
        font-size: 16px;
        margin: 10px 0px;
        background-color: #DFDFE9;
        font-weight: 600;
    }

    input:focus{
        border: none;
        outline: none;
    }

    input::placeholder{
        color: rgb(30, 30, 30);
        font-weight: 600;
    }

    input:focus::placeholder{
        color: transparent;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resposta {
        display: none;
        color: #DFDFE9;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .botao {

        button {
            max-width: 100px;
            padding: 10px;
            border-radius: 5px;
            border-style: none;
            background-color: #DFDFE9;
            text-transform: uppercase;
            margin: 20px;
            color: rgb(30, 30, 30);
            font-weight: 600;
            cursor: pointer;
        }

        button:hover{
            background-color: rgb(203, 203, 213);
        }

        .botao2 {
            display: none;
        }
    }

    .q4 {
        display: none;
        width: 500px;
    }

    .p2 {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .resposta2 {
        display: none;
        color: #DFDFE9;
        font-size: 30px;
        font-weight: bold;
        margin: 20px;
    }
}

footer{
    background-color: rgba(10, 10, 10, 0.85);
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DFDFE9;

    div{

        img {
            max-width: 100%;
            width: 40px;
            margin: 0px 20px;
        }
    }

    p{
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
    }

    strong{
        font-weight: bold;
        font-size: 16px;
    }
}